<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add comment</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<form action="#" th:action="@{/saveComment}" th:object="${listComment}" method="post">
    <div alight="left">
        <tr>
            <label class="form-label" >Comment</label>
            <td>
                <input type="hidden" th:field="*{id}" />
                <input type="text" th:field="*{comment}" class="form-control" placeholder="Add comment" />
            </td>
        </tr>
    </div>
    <br/>
    <tr>
        <td colspan="2"><button type="submit" class="btn btn-info">Save</button> </td>
    </tr>
</form>
</body>
</html>