<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Add new topic</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
    <style>
        nav{
            background-color: mediumpurple;
            color:white;
        }
        .nav-link{
            color:white;
        }
        .nav-link:hover{
            color:black;
        }
        .content{
            margin:10px;
            align-items: center;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand text-light" href="#">LMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/allStudents'}">View Students </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/allSubjects'}">View Subjects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/allSubjects'}">View Teachers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/allTopics'}">Discussion Forum</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/allAnnouncements'}">Announcements</a>
            </li>
        </ul>
    </div>
</nav>
<div class="content">
    <h2 >Comment List</h2>

        <div class="col-sm-5" align = "center">
            <div class="panel-body" align = "center" >
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>Comment</th>
                    </thead>
                    <tbody>
                    <tr  th:each="forum : ${listForum}">
                        <td th:text="${forum}">Comment</td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </div>

</div>

</body>
</html>